.location-dropdown-menu {
  /* background-color: mediumorchid; */
  padding: 0 0;
  left: -10rem;
  width: 60rem;
  height: 55rem;
  overflow-y: scroll;
  box-shadow: 0 0 0 1px rgb(0, 0, 0 / 10%);
  margin: 2px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
}

.menu-container {
  padding: 0 0;
  width: 100%;
  height: 100%;
}

.metro-dropdown-header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-column-header {
  font-size: 1.4rem;
  padding: 0 0;

}

.dropdown-list {
  width: 100%;
  height: 100%;
  /* background-color: orchid; */
  display: flex;
  padding: 0 0;
  margin: 0 0;
}

.metro-list-column {
  /* background-color: palevioletred; */
  flex-grow: 50%;
  padding: 0 0;
  margin: 0 0;
}

.region-list-column {
  /* background-color: orange; */
  display: flex;
  flex-grow: 50%;
  padding: 0 0;
  margin: 0 0;
  height: 55rem;
  overflow-y: scroll;
  align-items: flex-start;
}

.metro-dropdown-footer {
  font-size: 1.4rem;
  padding: 0 1rem;
  color:rgb(0, 0, 238);
}

.metrolist-all-link {
  color:rgb(0, 0, 238);
  text-decoration: none;
}