.nav-link {
  margin-right: 20px;
  text-align: center;
  justify-content: center; 
  align-self: stretch;
  display: flex; 
  flex-direction: column;
  border: none;

  &:hover {
    border-bottom: 1.15px solid;
    border-bottom-color: red;
  }
}